# Auto detect text files and perform LF normalization
* text=auto
*.dat filter=lfs diff=lfs merge=lfs -text
README_zh.md filter=lfs diff=lfs merge=lfs -text
saves filter=lfs diff=lfs merge=lfs -text
Dockerfile filter=lfs diff=lfs merge=lfs -text
evaluation filter=lfs diff=lfs merge=lfs -text
docker-compose.yml filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
pyproject.toml filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
assets filter=lfs diff=lfs merge=lfs -text
CITATION.cff filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
examples filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
offload filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
zhuzjtrain filter=lfs diff=lfs merge=lfs -text
cache filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
setup.py filter=lfs diff=lfs merge=lfs -text
